body { margin-top: 50px; }
h1 {
	font-weight: 700;
}
.spacetop {
	margin-top: 7px;
}
#top-navbar {
	font-weight: bold;
	text-transform: uppercase;
}
.bgimg {
	background-repeat: none;
	font-size: 17px;
}
.bgimg .bginner {
	display: table-cell;
	vertical-align: bottom;
}
.bgcontainer {
	text-align: right;
	margin-bottom: 1em;
}
.bgimg a {
	color: #fff;
	text-decoration: underline;
}
.bgimg a:hover {
	text-decoration: none;
}
.bgimg-caption,
.bgimg-caption a {
	color: #ccc !important;
	text-align: right;
}
#top {
	background-image: url(images/top.bg.jpg);
	background-size: cover;
	height: 700px;
	display: table;
	color: #fff;
	margin-bottom: 0;
}
.intro figure {
	margin-bottom: 1em;
}
.intro table thead th {
	text-align: right;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > thead > tr > td, .table > tbody > tr > td {
	border-top: none;
}
.vis-item {
	padding: 70px 0;
}
.vis-head h2,
.vis-head h3 {
	text-transform: uppercase;
	margin-top: 0;
}
.vis-legend {
	border-top: 1px solid #ccc;
	color: #bbb;
	padding-top: 7px;
	margin-top: 25px;
}
.vis-featured {
	background-color: #fd5;
	padding: 5px 10px;
}
.vis-big {
	font-size: 1.3em;
	text-transform: uppercase;
}

.vis-gradient {
	padding: 5px;
	font-size: 1.2em;
	color: #fff;
}
.vis-gradient-1 {
	background-color: #6BAED6;
}
.vis-gradient-2 {
	background-color: #4292C6;
}
.vis-gradient-3 {
	background-color: #2171B5;
}
.vis-gradient-4 {
	background-color: #084594;
}


#bottom {
	background-color: #f5f5f5;
	padding-top: 1em;
	padding-bottom: 1em;
}
